body {
    background-color: #ededed;
}

.navbar {
    background-color: #001666;
}

.login {
    max-width: 300px;
    right: 0;
    text-align: right;
}

.gray-card {
    background-color: #878787;
    border-radius: 3px;
    transition: 2s;
}
.gray-card:hover {
    background-color:#ababab;
    transition: 2s;
}

.yellow-card {
    background-color: #ccba18;
    border-radius: 3px;
    transition: 2s;
}
.yellow-card:hover {
    background-color:#ffe600;
    transition: 2s;
}

.orange-card {
    background-color: #c56900;
    border-radius: 3px;
    transition: 2s;
}
.orange-card:hover {
    background-color:#f87b15;
    transition: 2s;
}

.red-card {
    background-color: #6d0000;
    border-radius: 3px;
    transition: 2s;
}
.red-card:hover {
    background-color:#ff0000;
    transition: 2s;
}

.statNum {
    font-style: italic;
}

.version {
    font-style: italic;
    color: #535353;
}


.circlebar {
    border-color: black;
}