<!doctype html>
<html>
  <head>
<title>ServerStatus Monitor</title>
  </head>
  <body>
    <h1>Current CPU usage:</h1>
    <p id="cpu">Loading...</p>
    <h1>ServerStatus availability:</h1>
    <p id="website-status">Online</p>
    <h5>Booted at: {{booted_at}}</h5>
    <p id="version">Version: Loading...</p>
    <script>
      async function cpu(){
let response = await fetch('/cpu');
if (response.ok) { // if HTTP-status is 200-299
  // get the response body
  let stats = await response.json();
  document.getElementById("cpu").innerHTML = stats.cpu +"%"
  document.getElementById("website-status").innerHTML = "Online"
  document.getElementById("version").innerHTML = "Version:" + stats.version.toString();
} else {
  document.getElementById("cpu").innerHTML = "ERROR: " + response.status;
  document.getElementById("website-status").innerHTML = "Offline"
}}
      
cpu()
setInterval(cpu, 2000)
    </script>
  </body>
</html>